@keyframes basketAnim {
    0% {
        transform: translateX(var(--btnLeft)) translateY(var(--btnTop));
        top: 0px;
        left: 0px;
    }

    50% {
        top: -100px;
        left: -200px;
    }

    100% {
        transform: translateX(var(--basketLeft)) translateY(var(--basketTop));
        top: 0px;
        left: 0px;
    }
}

.basket_btn {
    @apply fixed top-0 left-0 z-50 text-4xl text-[#33dd66];

    transform: translateX(var(--btnLeft)) translateY(var(--btnTop));
    animation: basketAnim 1s forwards ease-in-out;

}

.radio {
    @apply hidden
}

.radio:checked+label {
    @apply bg-[#44434346]
}